[Unit]
Description=etcd docker wrapper
Wants=docker.socket
After=docker.service

[Service]
User=root
PermissionsStartOnly=true
ExecStart=/opt/bin/linkerd-tcp
ExecStartPre=-/usr/bin/docker rm -f linkerd-tcp
ExecStop=/usr/bin/docker stop linkerd-tcp
Restart=always
RestartSec=15s
TimeoutStartSec=30s

[Install]
WantedBy=multi-user.target

